html(lang="en")
    head
        include head.pug
        title Error page
    body
        header
            h1 Page Not Found
        br
        br
        div(class="login-container")
            h4() The page you requested could not be found.


    script(src="/static/index.js")
