script(src="/static/constants.js")
script(src="/static/chart_utils.js")
script(src="/static/misc_utils.js")
script(src="/static/fetch_utils.js")
script(src="/static/progress_utils.js")
script(src="/static/help_utils.js")