meta(charset="UTF-8")
link(rel="icon", type="image/x-icon", href="/static/favicon.ico")
link(rel="stylesheet", href="/static/styles.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
script(src="https://cdn.plot.ly/plotly-2.16.1.min.js")
script(src="https://kit.fontawesome.com/d3e4ef7bfb.js", crossorigin="anonymous")