div(class="menu2")
    ul(class="menu-list")
        li(class="menu-item2")
            a(href="/dashboard") Dashboard
        li(class="menu-item2")
            a(href="/annotator") Annotator
        li(class="menu-item2")
            a(href="/trainer") Model Builder
        li(class="menu-item2")
            i(id="help", class="fa-sharp fa-solid fa-circle-question", style="font-size:1.2em")
        li(class="menu-item2 menu-item3")
            a(href="/logout") Logout
div(id="help-content", style="display:none") !{helpContent}